nav {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #5D001E;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #E3AFBC;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #EE4C7C;
    transform: scale(1.1);
}

nav a:active {
    color: #FF5722;
}

nav a.active {
    color: #EE4C7C;
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav {
        align-items: center;
        gap: 10px;
    }
    .nav a {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .nav {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px;
    }

    .nav a {
        font-size: 16px;
    }
}