*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #E3E2DF;
    color: #5D001E;
}

body {
    margin: 0;
}